<div id='header'> 
	<h1> The Echo Nest + Deezer Playlist Demo</h1>
	Enter an artist: <input id='artist-name' type='text'>
</div>
<div id="info"> </div>
<div id='playlist'> </div>
<div id='footer'> 
Powered by The Echo Nest and Deezer. See <a href='http://blog.echonest.com'> The Echo Nest blog</a> for more info.
</div>