<div class="container">
        <div id="fav-pl-the-form" class="large-10 columns">
            <h1>Favorite</h1>
            <p class="lead"> Listen to a radio station that responds to your feedback </p>
            <div>
                <input id="fav-pl-artist" type="text" placeholder="Enter artist name..." </input>
                <input id="fav-pl-title" type="text" placeholder="Enter song title..." </input>
                <button class="btn btn-primary" id="fav-pl-go"> Go </button>
                <span id="fav-pl-info" class=""> </span>
            </div>
        </div>
    <div class="row">
      <div id="fav-pl-the-player" class="large-12 columns">
        <div id="fav-pl-titles">
          <h2 id='fav-pl-rp-song-title' class="subheader"></h2> 
          <h3  id='fav-pl-rp-artist-name'></h3> 
        </div>
        <div id="fav-pl-rp-now-playing" class="large-10 columns">
          <img id="fav-pl-rp-album-art">
            <div id='fav-pl-bottom-buttons'>
                <div id='fav-pl-button-panel' class='btn-group'>
                    <button id='fav-pl-rp-pause-play' rel='tooltip' title='play/pause the song'
                      class="btn btn-primary btn-small"><i class="icon-white icon-play"></i>Pause/Play</button>
                    <button id='fav-pl-rp-next' rel='tooltip' title='go to the next song', 
                      class="btn btn-primary btn-small"><i class="icon-white icon-forward"></i></button>
                </div>

              <div class='btn-group pull-right'>
                  <button  id="fav-pl-bad-song" rel="tooltip"  title="I don't like this song"
                      class="btn btn-danger btn-small"><i class="icon-white icon-thumbs-down"></i></button>
                  </button>
                  <button  id="fav-pl-good-song" rel="tooltip"  title="I like this song"
                      class="btn btn-success btn-small"><i class="icon-white icon-thumbs-up"></i></button>
                  </button>
              </div>
            </div>
          <div id="fav-pl-info-extra"> </div>
        </div>
      <div id="fav-pl-more-info" class="large-4 columns">
          <!-- <h4> Up Next </h4> -->
          <div id="fav-pl-up-next" class=""> </div>
      </div>
    </div>
  </div>
  <div class="container large-8 columns">
    <small>
    Powered by <a href="http://echonest.com">The Echo Nest</a> and <a href="http://rdio.com">Rdio</a>. 
    </small>
  </div>
</div>
