<h1 class="subheader">Favorite</h1>
<p>
	my last favorite song's title: 
	<span id="fav-title">
		<%= current_user.favorites.last.title %>
	</span><br>
	my last favorite song's artist: 
	<span id="fav-artist">
		<%= current_user.favorites.last.artist %>
	</span><br>
	rounds_won: 
	<span id="rounds-won">
		<%= current_user.favorites.last.rounds_won %>
	</span><br>
	favorites count: 
	<span id="fav-count">
		<%= current_user.favorites.count %>
	</span>
</p>