<div id="lead-in"  class="row">
	<div class="large-6 columns center large-offset-3">
		<h1>Pick a Song</h1>
		<div id="pick-title-div">
			<p>So what's the name of your favorite song?</p>
			<input id="pick-title-input" type="text" placeholder="Enter song title..." autofocus="autofocus">
		</div>
		<div id="pick-artist-div">
			<p>Who made it?</p>
			<input id="pick-artist-input" type="text" placeholder="Enter artist name..." autofocus="autofocus">
		</div>
	</div>
</div>
