<footer>
<div class="footer">
	<div class="row">
		<div class="large-4 columns">
			<h1 class="subheader">Popular Now</h1>
			<ul class="square">
				<% last_3 = Song.where.not(favoriter_id: nil).last(3) %>
				<% last_3.each do |song| %>
					<li><%= song.title %>, by <%= song.artist %></li>
				<% end %>
			</ul>
		</div>
		<div class="large-4 columns contact">
			<h1 class="subheader">Contact Us</h1>
			<%= link_to "http://www.twitter.com/herbertdotcom", "http://www.twitter.com/herbertdotcom" %>
			<div class="subscribe">
			Sign up for our e-mail list:
				<form>
					<div class="row collapse">
						<div class="large-8 columns">
							<input type="text">
						</div>
						<div class="large-4 columns">
							<%= link_to "Subscribe", "#", class: "button postfix expand" %>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="large-4 columns">
			<h1 class="subheader">Latest Tweets</h1>
			<ul class="circle">
				<li>I'm loving #thatsongtho!</li>
				<li>#thatsongtho lol</li>
				<li>I'm in love, #thatsongtho</li>
				<li>There's potential but it needs a lot of work #thatsongtho</li>
			</ul>
		</div>
		<ul class="pull-right inline-list">
			<li>facebook</li>
			<li>twitter</li>
			<li>instagram</li>
			<li>github</li>
		</ul>
	</div>
</div>
<!--
<div class="social-bar">
	<div class="">			
		<ul class="pull-right inline-list">
			<li>facebook</li>
			<li>twitter</li>
			<li>reddit</li>
			<li>instagram</li>
			<li>github</li>
		</ul>
	</div>
</div>
-->
</footer>